@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("ConsumirServicio","Home", FormMethod.Post, new { id = "formConsumirServicio", enctype = "multipart/form-data" }))
{
    <div class="jumbotron">
        <h1>XpertGroup Prueba</h1>
        <p class="lead">Joaquin Gonzalez Presenta la prueba de desarrollo para su importante empresa.</p>
        <p class="lead">Este proyecto fue construido como un proyecto de capas. Capa de presetacion un MVC .Net, Capa de Servicio una APIRESFUL con suagger en .Net Core, Capa de Negocio, donde se valida y se orquesta el desarrollo, Capa de Datos donde se hace la persistencia de la informacion, Capa Comunes, donde se encuentran los artefactos comunes para todas las capas como DTOs, Behaviors, Constantes (Es necesario configurar en esta capa una ruta en el File System para que guarde le Json de la matriz ).</p>
        <p class="lead">Debe subir un archivo con la estructura solicitada para hacer la comprobacion.</p>

        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

        <div class="span6 btn btn-primary btn-lg">
            <input id="file" name="file" type="file" />
        </div>

        <input type="submit" name="Submit" id="Submit" value="Upload" />  
    </div>




}